version: '3'
services:
  mosquitto:
    container_name: mosquitto
    build:
      dockerfile: ./mosquitto/Containerfile
    restart: unless-stopped
    ports:
      - 1883:1883 # Standard MQTT port
    volumes:
      - ./mosquitto/config:/mosquitto/config # Mount local config directory
      - ./mosquitto/data:/mosquitto/data   # Mount local data directory for persistence
      - ./mosquitto/log:/mosquitto/log     # Mount local log directory

networks:
  network:
    name: mosquitto
    driver: bridge

