version: '3'
services:
  mosquitto:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config:/mosquitto/config:ro
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log
    restart: unless-stopped
#   mosquitto:
#     container_name: mosquitto
#       build:
#         dockerfile: ./mosquitto/Containerfile
#     restart: unless-stopped
#     ports:
#       - "1883:1883" # Standard MQTT port
#     volumes:
#       - ./mosquitto/config:/mosquitto/config # Mount local config directory
#       - mosquitto_data:/mosquitto/data   # Mount local data directory for persistence
#       - mosquitto_log:/mosquitto/log     # Mount local log directory

# volumes:
  mosquitto_data:
  mosquitto_log:

networks:
  network:
    driver: bridge

