version: '3'

services:
  caddy:
    image: docker.io/caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./www:/var/www:ro
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:

networks:
  network:
    driver: bridge


    # nginx:
    #     image: nginx:latest
    #     ports:
    #     - "80:80"
    #     volumes:
    #     - "./nginx.conf:/etc/nginx/nginx.conf"
    #     - "./html:/usr/share/nginx/html"
    #     - ./certbot/www/:/var/www/certbot/:rw  
    #     networks:
    #     - network
    #     restart: always
    # certbot:
    #     image: certbot/certbot:latest
    #     ports:
    #     - "80:80"
    #     volumes:
    #     - ./certbot/www/:/var/www/certbot/:rw
    #     - ./certbot/conf/:/etc/letsencrypt/:rw
    #     networks:
    #     - network